* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 20px 28px;
  border: 2px solid white;
  border-radius: 16px;
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
  background: transparent;
  position: relative;
  /* isolation: isolate;
  overflow: hidden; */
  cursor: pointer;
}

.btn::after {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -0.6rem;
  background-color: rgb(60, 205, 34);
  transform-origin: left; /* right */
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.btn:hover::after {
  /* transform-origin: left; */
  transform: scaleX(1);
}

/* .btn::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 16px;
  background-color: rgb(60, 205, 34);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  z-index: -1;
}

.btn:hover::after {
  transform: scaleX(1);
}

.btn:hover {
  color: black;
} */
